.main-page-stories__title {
  max-width: 413px;
}

.main-page-stories__button {
  display: block;
  padding: 30px 0;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-align: center;
  text-decoration: none;
  background-color: #fbfbfb;
  transition: background-color 0.3s linear;
  width: 100%;
  border: none;
  cursor: pointer;
  margin-top: 70px;
}

.main-page-stories__button:hover {
  background-color: #f8f8f8;
}

.main-page-stories__button:focus {
  outline: unset;
}
