.videos {
  padding-top: 100px;
  padding-bottom: 74px;
  margin: auto;
  min-height: 50%;
}

.videos__container {
  display: flex;
  min-height: 400px;
}

.videos__text {
  max-width: 400px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.videos__button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #613a93;
  transition: background-color 0.3s linear;
  color: white;
}
.videos__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.videos__button:focus {
  outline: unset;
}

.videos__player-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
}
.videos__iframe {
  min-height: 100%;
  border: none;
  margin-bottom: 10px;
}
.videos__iframe-caption {
  font-size: 12px;
  line-height: 16px;
  color: #666;
}

.videos__footer {
  background: #613a93;
  max-width: 1440px;
  padding: 20px 60px;
  text-align: center;
  color: white;
  font-size: 30px;
  line-height: 43px;
  text-transform: uppercase;
  margin-top: 74px;
}
.videos__footer-text {
  margin: 0;
}
