.container {
  padding: 0 60px;
  max-width: 1440px;
  margin: auto;
}

.link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.link:hover {
  opacity: 0.8;
}

.link_active {
  border-bottom: 1px solid #000;
  cursor: default;
}

.link_active:hover {
  opacity: 1;
}

.paragraph {
  font-size: 18px;
  line-height: 22px;
  color: #666;
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
}
